NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPPORT_WHATSAPP_URL=https://api.whatsapp.com/send?phone=558499814124&text=Suh,%20tenho%20uma%20d%C3%BAvida
NEXT_PUBLIC_CHECKOUT_URL=https://clkdmg.site/pay/novo-evs-equipe-que-vende-sozinha
